* {
    margin: 0px;
    
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
}
#who {
    background-color: #00171F;
}
#what {
    background-color: #003459;
}
#how {
    background-color: #00A8E8;
}

/*header*/

header{
    width:60%;
    height:10%;
    margin:auto;
    
}
    header a {
        list-style: none;
        color: white;
        font-family: Roboto;
        font-size: 45px;
        text-decoration: none;
    }
        header a:hover {
            color:darkgray;
        }
header ul {
    align-items: center;
    justify-content: center;
    display: flex;
}
header ul li {
    list-style:none;
    margin: auto;
    padding: 25px;
}

/*skal havde hjælp til*/
@media screen and (min-width:1265px) {
    header ul li {
        float: none;
        width: 100%;
    }
}

/*index*/

.colum-f {
    padding-top: 250px;
    width: 50%;
    color: white;
    float: left;
    height: 100%;
}

    .colum-f h1 {
        font-family: Roboto;
        font-size: 60px;
        color: #00A8E8;
    }
    .colum-f h2 {
        font-family: Roboto;
        font-size: 45px;
        color: #F6F6F6;
    }


/*who*/


.grid-container-who {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-left: 25px;
    margin-right: 25px;
}


.space{
    grid-column:span 8;
}
.intro {
    grid-column: span 4;
    font-family: Roboto;
    font-size: 55px;
    padding-right: 50px;
    color: white;
    float:right;
    
}
.headshot {
    grid-column: span 6;
    max-height:800px;

}

    .headshot img {
        width: 100%;
        height: 100%;
        object-fit:contain;
    }

.about {
    grid-column:span 6;
    padding:5px;
}

.about p {
    color:aliceblue;
    font-family:Arial;
    padding: 35px 0px 0px 0px;
    font-size:30px;
}


/*what*/


.introw {
    font-family: Roboto;
    font-size: 55px;
    padding-right: 50px;
    color: white;
    float: right;
}
.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-auto-rows: 500px;
    grid-gap: 25px;
    justify-content: center;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .grid-container {
        grid-gap: 200px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .grid-container {
    grid-gap: 200px;
}

}



.galleri {
    padding: 25px;
}
    .galleri img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
.galleri p{
    color:white;
    font-family:Arial;
    font-size:30px;
}
.Sprite {
    height: 500px;
    width: 500px;
    background: url('/image/galleri/sprite.png') 0 0 no-repeat;
    animation: play 2s steps(20) infinite;
}

@keyframes play {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: -10000px;
    }
}
/*how*/


.network {
    margin: auto;
    width: 60%;
}
.introh {
    font-family: Roboto;
    font-size: 55px;
    padding-right: 50px;
    color: white;
    float: right;
}


.network p {
    font-family: Roboto;
    font-size: 55px;
    color: white;
    padding-bottom:10px;
    
}
    .network a {
        font-family: Roboto;
        font-size: 55px;
        color: white;
        
        text-decoration:none;
    }
    .network a:hover{
        text-decoration:underline;

    }

.infoto img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid white;
    border-color: white;
}
.some p{
    padding-bottom:50px;
}
